In [1]:
import pandas as pd
dict1 = {'年龄': [23, 22, 21], '岗位': ['客服', '运营', '公关'], '年购买量': [10, 15, 8]}
job_df = pd.DataFrame(dict1)
job_df

   年龄  岗位  年购买量
0  23  客服    10
1  22  运营    15
2  21  公关     8

In [3]:
# 
goods_info = [
    ['巧克力', 77.675, '47箱', '广东佛山仓'],
    ['牛奶', 58.755, '40箱', '广东揭阳仓'],
    ['威化饼干', 7.385, '285盒', '广西南宁仓'],
    ['火腿肠', 34.823, '20件', '广西柳州仓'],
    ['巧克力', 62.648, '30箱', '广东揭阳仓'],
    ['牛奶', 45.75, '12箱', '广西柳州仓'],
    ['威化饼干', 5.235, '148盒', '广东佛山仓'],
    ['火腿肠', 33.736, '28件', '广东佛山仓']
]
goods_df = pd.DataFrame(goods_info)
goods_df

      0       1     2      3
0   巧克力  77.675   47箱  广东佛山仓
1    牛奶  58.755   40箱  广东揭阳仓
2  威化饼干   7.385  285盒  广西南宁仓
3   火腿肠  34.823   20件  广西柳州仓
4   巧克力  62.648   30箱  广东揭阳仓
5    牛奶  45.750   12箱  广西柳州仓
6  威化饼干   5.235  148盒  广东佛山仓
7   火腿肠  33.736   28件  广东佛山仓

In [4]:
newgoods_df = pd.DataFrame(goods_info, columns=['名称', '单价', '库存', '地址'])
newgoods_df

     名称      单价    库存     地址
0   巧克力  77.675   47箱  广东佛山仓
1    牛奶  58.755   40箱  广东揭阳仓
2  威化饼干   7.385  285盒  广西南宁仓
3   火腿肠  34.823   20件  广西柳州仓
4   巧克力  62.648   30箱  广东揭阳仓
5    牛奶  45.750   12箱  广西柳州仓
6  威化饼干   5.235  148盒  广东佛山仓
7   火腿肠  33.736   28件  广东佛山仓

In [5]:
students_info = [['小蓝', '语文', '79'],
                ['小邱', '数学', '83'],
                ['小李', '英语', '92']]

# 使用列表创建 DataFrame 对象，同时设置列名
students_df =pd.DataFrame(students_info, columns=['姓名','科目','分数'])
students_df

   姓名  科目  分数
0  小蓝  语文  79
1  小邱  数学  83
2  小李  英语  92

In [6]:
# 修改 goods_df 的列名
goods_df.columns = ['名称', '单价', '库存', '地址']
goods_df

     名称      单价    库存     地址
0   巧克力  77.675   47箱  广东佛山仓
1    牛奶  58.755   40箱  广东揭阳仓
2  威化饼干   7.385  285盒  广西南宁仓
3   火腿肠  34.823   20件  广西柳州仓
4   巧克力  62.648   30箱  广东揭阳仓
5    牛奶  45.750   12箱  广西柳州仓
6  威化饼干   5.235  148盒  广东佛山仓
7   火腿肠  33.736   28件  广东佛山仓

In [7]:
# 设置一个 DataFrame 对象的数据
peoples_df = pd.DataFrame({'name': ['南大川', '陈知枫'], 'age': ['27', '25'], 'company': ['闪光科技公司', '闪光科技公司']})

# 将 peoples_df 的列名分别改为"姓名"、"年龄"、"公司"

peoples_df.columns = ['姓名','年龄','公司']
# 将 peoples_df 的列名分别改为"姓名"、"年龄"、"公司"
peoples_df.columns = ['姓名', '年龄', '公司']
peoples_df

    姓名  年龄      公司
0  南大川  27  闪光科技公司
1  陈知枫  25  闪光科技公司

In [9]:
# 依照【单价】列的数据进行排序
sorted_goods = newgoods_df.sort_values(by='单价')
sorted_goods

# 提取【单价】列的数据进行排序
newgoods_df['单价'].sort_values()

6     5.235
2     7.385
7    33.736
3    34.823
5    45.750
1    58.755
4    62.648
0    77.675
Name: 单价, dtype: float64

In [10]:
# 重置数据 sorted_goods 的行索引
reset_goods = sorted_goods.reset_index(drop=True)
reset_goods

     名称      单价    库存     地址
0  威化饼干   5.235  148盒  广东佛山仓
1  威化饼干   7.385  285盒  广西南宁仓
2   火腿肠  33.736   28件  广东佛山仓
3   火腿肠  34.823   20件  广西柳州仓
4    牛奶  45.750   12箱  广西柳州仓
5    牛奶  58.755   40箱  广东揭阳仓
6   巧克力  62.648   30箱  广东揭阳仓
7   巧克力  77.675   47箱  广东佛山仓

In [11]:
# 四舍五入
reset_goods['单价'] = round(reset_goods['单价'], 2)
reset_goods

     名称     单价    库存     地址
0  威化饼干   5.24  148盒  广东佛山仓
1  威化饼干   7.38  285盒  广西南宁仓
2   火腿肠  33.74   28件  广东佛山仓
3   火腿肠  34.82   20件  广西柳州仓
4    牛奶  45.75   12箱  广西柳州仓
5    牛奶  58.76   40箱  广东揭阳仓
6   巧克力  62.65   30箱  广东揭阳仓
7   巧克力  77.68   47箱  广东佛山仓

In [12]:
# agg() 方法 对【库存】列的数据进行切片处理,只写函数名，不需要写参数
# 有时候 需要我们将每个数据的单位切除后，才能进行库存量的求和。
def new_func(data):
    number = data[:-1]
    return int(number)

In [13]:
reset_goods['库存'] = reset_goods['库存'].agg(new_func)
reset_goods

     名称     单价   库存     地址
0  威化饼干   5.24  148  广东佛山仓
1  威化饼干   7.38  285  广西南宁仓
2   火腿肠  33.74   28  广东佛山仓
3   火腿肠  34.82   20  广西柳州仓
4    牛奶  45.75   12  广西柳州仓
5    牛奶  58.76   40  广东揭阳仓
6   巧克力  62.65   30  广东揭阳仓
7   巧克力  77.68   47  广东佛山仓

In [15]:
reset_goods.groupby('名称')['单价'].mean()

名称
威化饼干     6.310
巧克力     70.165
火腿肠     34.280
牛奶      52.255
Name: 单价, dtype: float64

In [18]:
dict_2 = {
    '单价':'mean',
    '库存':'sum'
}
# 同时计算各食品的平均单价和总库存量
reset_goods.groupby('名称').agg(dict_2)

          单价   库存
名称
威化饼干   6.310  433
巧克力   70.165   77
火腿肠   34.280   48
牛奶    52.255   52

In [33]:
def replace_info(data):
    if data == '-':
        data = 0
    return data

# 创建一个 DataFrame 对象的数据
foods_df = pd.DataFrame({'食品名': ['肚脐饼', '水晶饺', '擂茶', '肚脐饼', '擂茶'], '单价': [2, 10, 12, 4, 20], '数量': [20, '-', 35, 37, '-'], '城市': ['潮州', '汕尾', '梅州', '深圳', '深圳']})
# 使用 agg() 方法对【数量】列的内容进行替换
foods_df['数量'] = foods_df['数量'].agg(replace_info)
# 同时计算【单价】列的最小值和【数量】列的最大值
foods_df.groupby('食品名').agg({'单价': 'min', '数量': 'max'})

     单价  数量
食品名
擂茶   12  35
水晶饺  10   0
肚脐饼   2  37

In [ ]:
# 关联分析
# 关联分析，是一门分析技术，用于发现大量数据中，各组数据之间的联系

### 项 & 项集 ###
# 0个或多个项的集合，可称为一个项集，一般用{X}的形式表示项集，k 个项组成的项集，叫 k 项集。
# 如{薯条，可乐}（2 项集），{薯条}（1 项集）。

# 支持度(Support)可以表示项集在事务中出现的概率（频率），你也可以理解成顾客对某一个项集的“支持程度”。
# {X}的支持度 = {X}在事务中出现的次数 / 事务总数。

### 频繁项集 ###
# 我们需要人为地设定一个支持度，名为最小支持度，用于筛掉那些不符合需求的项集。
# 被留下来的项集（≥ 最小支持度），被称为频繁项集。

### 关联规则 ###
# 有了频繁项集，就可以生产关联规则了
# 数据之间的联系，我们用关联规则来表示，表达式为：{X}→{Y}（X 和 Y 之间不存在相同项）
# 规则前面的项集叫前件，把规则后面的项集叫后件

### 置信度(Confidence) ###
# 置信度(Confidence)可用于衡量关联规则的可靠程度,
# 表示在前件出现的情况下，后件出现的概率。一般来说，概率越高，规则的可靠性越强
# 关联规则{X}→{Y}的置信度 = {X，Y}的支持度 / {X}的支持度

### 最小置信度 ###
# 在实际业务中，也需要人为地设定置信度，名为最小置信度，用于筛掉一些不符合需求的关联规则。
# 被留下来的关联规则（ ≥ 最小置信度），叫做强关联规则

### 提升度(Lift) ###
# {X}→{Y}的提升度 = {X}→{Y}的置信度 / {Y}的支持度，
# 意思是评估 X 的出现，对 Y 出现的影响有多大。
# Lift > 1: 表示前件对后件是抑制关系；<1: 表示前件对后件是促进关系；=1: 不影响
# Lift(X->Y) = {X,Y}置信度 / {Y}支持度

### 总结 ###
# {X,Y}置信度 = {X，Y}的支持度 / {X}的支持度
# Lift(X->Y) = {X,Y}置信度 / {Y}支持度
# 满足最小置信度的关联规则称为强关联规则
# 满足最小支持度的项集称为频繁项集
# 大多数的关联分析工作，主要任务就是生成频繁项集和关联规则，从而发现隐藏的关联关系
# 个3项（k 项）的数据集，能产生7（2^k - 1）个非空频繁项集。？？？
# 一个3项（k 项）的频繁项集，可产生6（2^k - 2）个关联规则。


# Apriori 算法 #
# 使用步骤
# 1. 确定最小支持度和最小置信度
# 2. 找出频繁项集和强关联规则

In [3]:
from apyori import apriori
orders = [['薯条', '可乐'], ['薯条', '可乐', '奶茶'], ['汉堡', '薯条', '可乐'], ['汉堡', '可乐']]
results = apriori(orders, min_support=0.2, min_confifdence=0.7)
for result in results:
    support = round(result.support, 3)

    for rule in result.ordered_statistics:
        head_set = list(rule.items_base)
        tail_set = list(rule.items_add)

        if head_set == []:
            continue

        related_catogory = str(head_set) + '->' + str(tail_set)

        confidence = round(rule.confidence, 3)
        lift = round(rule.lift, 3)

        print(related_catogory, support, confidence, lift)

['可乐']->['奶茶'] 0.25 0.25 1.0
['奶茶']->['可乐'] 0.25 1.0 1.0
['可乐']->['汉堡'] 0.5 0.5 1.0
['汉堡']->['可乐'] 0.5 1.0 1.0
['可乐']->['薯条'] 0.75 0.75 1.0
['薯条']->['可乐'] 0.75 1.0 1.0
['奶茶']->['薯条'] 0.25 1.0 1.333
['薯条']->['奶茶'] 0.25 0.333 1.333
['汉堡']->['薯条'] 0.25 0.5 0.667
['薯条']->['汉堡'] 0.25 0.333 0.667
['可乐']->['薯条', '奶茶'] 0.25 0.25 1.0
['奶茶']->['可乐', '薯条'] 0.25 1.0 1.333
['薯条']->['可乐', '奶茶'] 0.25 0.333 1.333
['可乐', '奶茶']->['薯条'] 0.25 1.0 1.333
['可乐', '薯条']->['奶茶'] 0.25 0.333 1.333
['薯条', '奶茶']->['可乐'] 0.25 1.0 1.0
['可乐']->['薯条', '汉堡'] 0.25 0.25 1.0
['汉堡']->['可乐', '薯条'] 0.25 0.5 0.667
['薯条']->['可乐', '汉堡'] 0.25 0.333 0.667
['可乐', '汉堡']->['薯条'] 0.25 0.5 0.667
['可乐', '薯条']->['汉堡'] 0.25 0.333 0.667
['薯条', '汉堡']->['可乐'] 0.25 1.0 1.0

In [5]:
breakfast = [['豆浆', '油条', '麻球'], ['豆浆', '热干面', '面包'], ['豆浆', '肠粉', '油条'], ['咖啡', '面包'], ['豆浆', '油条']]
results = apriori(breakfast, min_support=0.5)

for result in results:
    support = round(result.support, 2)

    for rule in result.ordered_statistics:
        head_set = list(rule.items_base)
        tail_set = list(rule.items_add)

        if head_set == []:
            continue

        related_catogory = str(head_set) + '->' + str(tail_set)
        lift = round(rule.lift, 2)
        confidence = round(rule.confidence, 2)

        print(related_catogory, support, confidence, lift)

['油条']->['豆浆'] 0.6 1.0 1.25
['豆浆']->['油条'] 0.6 0.75 1.25